[Desktop Entry]
Version=1.0
Name=Figma
Comment=Figma
Exec=omarchy-launch-webapp "https://www.figma.com/files"
Terminal=false
Type=Application
Icon=figma
StartupNotify=true
StartupWMClass=chrome-www.figma.com__files-Default
NoDisplay=true
